body {
    background-color: whitesmoke
}

form label {
    font-size: .8rem;
    margin-bottom: 0;
}

.card {
    border: none !important; border-radius: 0 !important; margin: .7rem 0 .7rem 0;
    -webkit-box-shadow: 0px 0px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 3px #ccc;
}